.profilepicture {
	width: 132px;
  	height: 127px;
  	align: middle;
  	border: 20%;
	radius: 100px;
}

.projects {
	width: 96px;
  	height: 54px;
  	align: middle;
  	border: 20%;
	radius: 100px;
}

.image-row {
  display: flex;
  justify-content: space-between;
}

h4 {
	align-items: center;
}