.profilepicture {
	width: 132px;
  	height: 127px;
  	align: middle;
  	border: 20%;
	radius: 100px;
}

.image-row {
  height:108px;
  width:192px;
  display: flex;
  justify-content: space-between;
  border: 20%;
  radius: 100px;
}

h2 {
	align-items: middle;
}

h4 {
	align-items: center;
}